<%- include('partials/header.ejs') -%> 
<body>
    <%- include('partials/navbar.ejs') -%> 
    <div class="container section--body">
        <div class="card">
            <div class="card-header">
                <h1>GUIA PERGUNTAS</h1>
            </div>
            <div class="card-body">
                <form>
                    <label>Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control">
                    <label for="">Descrição</label>
                    <textarea placeholder="Descrição" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') -%> 